.weather-api {
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    min-width: 40%;
    .input-group {
      .form-control {
        background-color: #242424;
        color: #e3e3e3;

        &:focus {
          border: 1px solid #747474;
          box-shadow: none;
        }

        &::placeholder {
          color: #e3e3e3c9;
        }
      }

      .btn:hover {
        border: 1px solid #747474;
        box-shadow: none;
      }
    }
  }
}
