/*
    ITALIC FONT
*/

@font-face {
  font-family: "ptsans italic";
  src: local("PTS56F"), local("PT sans Italic");
  src: url("./fonts/PTS56F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/* 
    REGULAR FONT
*/

@font-face {
  font-family: "ptsans regular";
  src: local("PTS55F"), local("PT sans Regular");
  src: url("./fonts/PTS55F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 
    BOLD FONT
*/

@font-face {
  font-family: "ptsans bold";
  src: local("PTS75F"), local("PT sans Bold");
  src: url("./fonts/PTS75F-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  font-family: "ptsans regular";
}
