@use "./variables.scss" as var;

/**
* Simple Reset
* A set of CSS styles to reset default styles for all elements, the body, images, unordered lists, and links.
* @reset {All Elements} - Padding, margin, and box-sizing set to 0.
* @reset {Body} - Background color set to $accent-1 and text color set to $accent-2, with minimum height set to 100vh.
* @reset {Images} - Maximum width set to 100% and display set to block.
* @reset {Unordered Lists} - List style set to none.
* @reset {Links} - Text decoration set to none.
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var.$accent-1;
  color: var.$accent-2;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
