// Variables file for color accents

// Accent 1: A dark gray color
$accent-1: #242424;

// Accent 2: A medium gray color
$accent-2: #747474;

// Accent 3: A light gray color
$accent-3: #e3e3e3;

// Accent 3: A shade of blue
$accent-4: #00bfff;
